{% load static %}
<section id="benefits" class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2">
                <div class="section-header">
                    <h3>Benefits</h3>
                    <p>Or why you'll love our product.</p>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <div class="benefit-img-container">
                    <img data-src="{% static 'img/icons/cost_reduction.png' %}" alt="Cost reduction" class="benefit-img"/>
                </div>
                <h4>Cost reduction</h4>
                <p class="benefit-text">We deliver up to 65% departmental cost reductions & up to 20% greater returns from portfolios.</p>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <div class="benefit-img-container">
                    <img data-src="{% static 'img/icons/visualization.png' %}" alt="Visualization" class="benefit-img binocular"/>
                </div>
                <h4>Visualization</h4>
                <p class="benefit-text">Visualise all your loans at once and benefit from complete predictive analytics.</p>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <div class="benefit-img-container">
                    <img data-src="{% static 'img/icons/profits.png' %}" alt="Profits" class="benefit-img"/>
                </div>
                <h4>Increase profits</h4>
                <p class="benefit-text">Achieve the optimal workout strategy by knowing what’s about to happen, and maximise your recovery rates.</p>
            </div>
        </div>
    </div>
</section>