{% load static %}
<section id="how-works" class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2">
                <div class="section-header">
                    <h3>How it works</h3>
                    <p>The magic behind the curtain.</p>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <h3>1 Standardize</h3>
                <p>We standardise your Portfolio, enabling large scale Machine Learning</p>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <h3>2 Augment</h3>
                <p>We augment your Portfolio with a broad range of proprietary datasets (and your existing data)</p>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <h3>3 Predict</h4>
                <p>We run our Neural Networks on your data to give you prediction insights like human teams, but 1000x faster (and on all your data)</p>
            </div>
        </div>
    </div>
</section>