<section id="home-app">
  <div id="landing-message">
    <div class="container">
      <div class="grid">
        <div class="grid__col grid__col--1-of-2 grid__col--s-2-of-2">
          <h2>NPL portfolio pricing made easy.</h2>
          <p>Predict the value of your NPL portfolio with our propiertary machine learning algorithms and datasets.</p>
          <p><a href="#product" class="main-btn">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="photo-credits">
    Photo by <a href="https://unsplash.com/photos/alS7ewQ41M8?utm_source=unsplash&utm_medium=referral&utm_content=Zarathustra-Technologies">Luca Bravo</a> on <a href="https://unsplash.com/search/photos/architecture?utm_source=unsplash&utm_medium=referral&utm_content=Zarathustra-Technologies">Unsplash</a>
  </div>-->
</section>
