{% load static %}
<section id="our-team" class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2">
                <div class="section-header">
                    <h3>Our team</h3>
                    <p>The brains who made the brain.</p>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img data-src="{% static 'img/team/daniel-worrall.jpeg' %}" class="picture"/>
                <p class="name">Dr. Daniel Worrall</p>
                <p class="role">Lead Researcher</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img data-src="{% static 'img/team/alan-mosca.jpg' %}" class="picture"/>
                <p class="name">Dr. Alan Mosca</p>
                <p class="role">Lead Developer</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Mr. Jack Zamattio</p>
                <p class="role">Partner / CTO</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Mr. Miklos Csillaghy</p>
                <p class="role">Partner / CFO</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Andrew Pelton</p>
                <p class="role">ML Engineer/Researcher</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Konstantin Wuenscher</p>
                <p class="role">ML Engineer/Researcher</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Harshavadran Srinivas</p>
                <p class="role">Senior Python developer</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Gautham Senthilenthan</p>
                <p class="role">Senior Data Scientist</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
            <div class="grid__col grid__col--1-of-4 grid__col--s-1-of-2 member">
                <img src="" class="picture"/>
                <p class="name">Alberto Palasgo</p>
                <p class="role">Business Development</p>
                <p class="bio">This should very three to five rows of text briefly describing the team member.</p>
            </div>
        </div>
    </div>
</section>