{% load static %}
<section id="benefits" class="section">
  <div class="container">
    <div class="grid">
      <div class="grid__col grid__col--2-of-3 grid__col--centered ">
        <div class="section-header">
          <h3>Benefits</h3>
        </div>
        <p>We dramatically improve your operating margins in the NPL and UTP markets by providing the latest machine learning technologies. Get ahead of the competition by:</p>
        <ul>
          <li>Automating recurring processes</li>
          <li>Learning from your own (and external) data to the maximum</li>
          <li>Predicting future outcomes like a human analyst would (but 1000x faster)</li>
          <li>Integrating ZT Augmented Intelligence in your existing pipeline</li>
        </ul>
        <p>Enjoy the best possible operating margins in NPL and UTP thanks to Zarathustra Technologies.</p>
      </div>
    </div>
  </div>
</section>