{% load static %}
<section id="product" class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2">
                <div class="section-header">
                    <h3>Our products</h3>
                    <p></p>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-2 grid__col--s-1-of-2">
                <p class="features">Our software stack helps you analyse, integrate data, and put an accurate price to NPL and UTP portfolios. See <a href="https://nplxplatform.com">NPLX</a> or <a hrref="#contact">contact us</a> for more information.</p>
            </div>
        </div>
    </div>
</section>